<p>
  listar works!
</p>

<p-panel>
    <p-header>

    </p-header>

          <div class="ui-g">
              <div class="ui-g-12">
                <p-dataTable [value]="">
                    <p-column field="" header="Id"></p-column>
                    <p-column field="" header="Curso"></p-column>
                    <p-column field="" header="Duracao"></p-column>
                </p-dataTable>
              </div>
          </div>
          
    <p-footer>
      
    </p-footer>
</p-panel>