.topbar{
    width: 100%;
    background-color: #df6659;
}

.sidebar{
    /*background-color: rgb(43, 211, 203);*/
    background-color: rgb(238, 232, 231);
}

.main{
    background-color: rgb(238, 232, 231);
}

a{
 color: #222222;   
 text-decoration: none;
 padding: 10px;
}
