<div class="container-fluid">
    <div class="row">

     <!-- top -->
      <div class="ui-g-12 topbar" >
        <div class="ui-g-2 ui-md-2">
          <!-- top left -->
        </div>
        <div class="ui-g-10 ui-md-10">
         <!-- top rigth -->        
        </div>
      </div>
    <!-- fim do top -->

       <!-- div lateral -->
      <div class="col-sm-3 col-md-2 sidebar">
        <br>  
        <ul class="nav nav-sidebar ui-g-12 main">
          <li class="ui-g-12 texto" routerLinkActive="active">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <a routerLink="/adicionar"> Adicionar </a>
          </li>
          <li class="ui-g-12 texto"  routerLinkActive="active">
            <i class="fa fa-table" aria-hidden="true"></i>
            <a routerLink="/listar"> Listar </a>
          </li>
          <li class="ui-g-12 texto" >
            <i class="fa fa-table" aria-hidden="true"></i>
            <a > Listar 2 </a></li>
        </ul> 
      </div>
       <!-- fim da div lateral-->
      
       <!-- div operacoes -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <br>  
        <!-- div operacoes conteudo -->
        <div class="ui-g-12 ui-md-12">
          
          
         
          
          <router-outlet></router-outlet>
              

          </div>

      </div>
      <!-- fim da div operacoes-->
      
    </div>
  </div>



        
   
  <!--<ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dataForm">Form - Data Driven</a>
      </li>
  </ul>-->