<p-growl [(value)]="msgs"></p-growl>
<div class="container-fluid">
    <div class="row">

     <!-- top -->
      <div class="ui-g-12 topbar" >
        <div class="ui-g-2 ui-md-4">
          <!-- top left -->
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="ui-g-10 ui-md-8">
         <!-- top rigth -->        
        </div>
      </div>
    <!-- fim do top -->

       <!-- div lateral -->
      <div id="tamanho" class="col-sm-12 col-md-4 sidebar">
        <br>
        <app-adicionar (emitirCursoLista)="metodoAddListar($event)"></app-adicionar>
        <br>
        <div id="center">
          <h4 class="first">Avalie</h4> 
          <p-rating [(ngModel)]="val2" (onRate)="handleRate($event)" (onCancel)="handleCancel($event)"></p-rating> <span *ngIf="msg" style="margin-left:10px">{{msg}}</span>
        </div>
      </div>
       <!-- fim da div lateral-->
      
       <!-- div operacoes -->
      <div class="col-sm-12 col-md-8 bc">
        <br> 
        <!-- div operacoes conteudo -->
        <div id="tamanho2" class="ui-g-12 ui-md-12 sidebar">
            
               <p-tabView>
                  <!--<app-pesquisar (emitirCursoLista)="metodoAddListar($event)"></app-pesquisar>-->
                  <p-tabPanel header="Apenas Listar" leftIcon="fa-search">
                    <app-apenas-listar [metodoListar]="metodoListar"></app-apenas-listar>
                  </p-tabPanel>

                  <p-tabPanel header="Listagem Completa" leftIcon="fa-edit"> 
                  
                  <app-listar [metodoListar]="metodoListar" (emitirCursoLista)="metodoAddListar($event)" ></app-listar>
                  </p-tabPanel>
                  
               </p-tabView>
               
        </div>

      </div>
      <!-- fim da div operacoes-->
      
    </div>
  </div>
