<p-growl [(value)]="msgs"></p-growl>
<div class="container-fluid">
    <div class="row">

     <!-- top -->
      <div class="ui-g-12 topbar" >
        <div class="ui-g-2 ui-md-4">
          <!-- top left -->
        </div>
        <div class="ui-g-10 ui-md-8">
         <!-- top rigth -->        
        </div>
      </div>
    <!-- fim do top -->

       <!-- div lateral -->
      <div class="col-sm-12 col-md-4">
        <br>
        <app-adicionar (emitirCursoLista)="metodoAddListar($event)"></app-adicionar>
      </div>
       <!-- fim da div lateral-->
      
       <!-- div operacoes -->
      <div class="col-sm-12 col-md-8 bc">
        <br> 
        <!-- div operacoes conteudo -->
        <div class="ui-g-12 ui-md-12 sidebar">
            
               <p-tabView>
                  <!--<app-pesquisar (emitirCursoLista)="metodoAddListar($event)"></app-pesquisar>-->
                  <p-tabPanel header="Apenas Listar" leftIcon="fa-search"> 
                  
                  <app-listar [metodoListar]="metodoListar" ></app-listar>
                  </p-tabPanel>
               </p-tabView>
               
        </div>

      </div>
      <!-- fim da div operacoes-->
      
    </div>
  </div>
