<p>
  pesquisar works!
</p>

<!-- div do pesquisar isso tem que ficar em um componente-->
          <div class="ui-g-12">
            <span class="input input--minoru ui-g-10 ui-md-6">
                <input pInputText class="input__field input__field--yoko" type="text" id="input-16" placeholder="Pesquisar" />
                <label class="input__label input__label--yoko" for="input-16">
                <span class="input__label-content input__label-content--yoko">Pesquisar</span>
                </label>
             </span>
          </div>
